@import './global';
.col {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 500px;
    height: 560px;
    margin-right: 20px;
    .card {
        display: flex;
        flex-flow: column wrap;
        font-weight: bold;
        margin: 0 auto;
        .titulo {
            padding: 0 9px;
            text-align: center;
            color: #555;
        }
        .fecha {
            padding: 0 20px;
            font-weight: bold;
            font-size: 12px;
            color: #555;
            & span {
                color: rgb(36, 228, 36);
            }
        }
        .info {
            padding: 10px;
            font-weight: bold;
            & a {
                color: #555;
            }
        }
        .contacto {
            display: flex;
            flex-wrap: nowrap;
            img {
                width: 50px;
                border-radius: 100%;
                margin-left: 10px;
            }
            p {
                margin-left: 5px;
            }
        }
    }
}

.col:first-child {
    border: none;
    width: 500px;
    margin-right: 20px;
}